USE [master]
GO
/****** Object:  Database [db_ventas]    Script Date: 13/05/2019 16:10:30 ******/
CREATE DATABASE [db_ventas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_ventas', FILENAME = N'C:\Sistema de ventass DB\db_ventas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_ventas_log', FILENAME = N'C:\Sistema de ventass DB\db_ventas_log.ldf' , SIZE = 5696KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_ventas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_ventas]
GO
/****** Object:  User [ventas]    Script Date: 13/05/2019 16:10:31 ******/
CREATE USER [ventas] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ventas]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [ventas]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [ventas]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ventas]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [ventas]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ventas]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ventas]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [ventas]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [ventas]
GO
/****** Object:  Table [dbo].[articulo]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[articulo](
	[idarticulo] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](100) NULL,
	[idcategoria] [int] NOT NULL,
	[precio] [money] NULL,
	[stock_actual] [int] NULL,
	[precio_Compra] [money] NULL,
	[utilidad] [decimal](5, 2) NULL,
	[estado] [bit] NULL,
	[pesable] [bit] NULL,
 CONSTRAINT [PK_articulo] PRIMARY KEY CLUSTERED 
(
	[idarticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[categoria](
	[idcategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cliente](
	[idcliente] [int] IDENTITY(1,1) NOT NULL,
	[razon_social] [varchar](150) NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[cuit] [bigint] NULL,
	[direccion] [varchar](50) NULL,
	[telefono] [int] NULL,
	[email] [varchar](80) NULL,
	[num_documento] [varchar](11) NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Confequipo]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Confequipo](
	[id_equipo] [int] IDENTITY(1,1) NOT NULL,
	[equipo] [nvarchar](50) NOT NULL,
	[usuarioconectado] [nvarchar](50) NULL,
	[Turno] [nvarchar](50) NULL,
	[id_usuario] [int] NULL,
	[pv] [int] NULL,
 CONSTRAINT [PK_Confequipo] PRIMARY KEY CLUSTERED 
(
	[id_equipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[config_empresa]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[config_empresa](
	[cod_empresa] [int] IDENTITY(1,1) NOT NULL,
	[razon_social] [varchar](70) NOT NULL,
	[cuit] [bigint] NULL,
	[logo] [image] NULL,
	[condicion_frente_iva] [varchar](70) NULL,
 CONSTRAINT [PK_config_empresa] PRIMARY KEY CLUSTERED 
(
	[cod_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cuentas]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cuentas](
	[idusuario] [int] IDENTITY(2,1) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[nombre] [varchar](50) NULL,
	[Turno] [nvarchar](50) NULL,
	[SA] [bit] NULL,
	[activo] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[detalle_movstock]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_movstock](
	[iddetalle_movstock] [int] IDENTITY(1,1) NOT NULL,
	[idmov_stock] [int] NOT NULL,
	[idarticulo] [int] NOT NULL,
	[precio] [money] NOT NULL,
	[cantidad] [money] NULL,
 CONSTRAINT [PK_detalle_movstock] PRIMARY KEY CLUSTERED 
(
	[iddetalle_movstock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[detalle_venta]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_venta](
	[iddetalle_venta] [int] IDENTITY(1,1) NOT NULL,
	[idventa] [int] NOT NULL,
	[cantidad] [money] NULL,
	[precio] [money] NOT NULL,
	[descuento] [money] NULL,
	[id_articulo] [int] NULL,
	[importe] [money] NULL,
 CONSTRAINT [PK_detalle_venta] PRIMARY KEY CLUSTERED 
(
	[iddetalle_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[fondo_cierre]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fondo_cierre](
	[Cod_cierre] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Turno] [nvarchar](50) NOT NULL,
	[Total_ingreso] [money] NOT NULL,
	[Tottal_egreso] [money] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[fondo_mov_caja]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fondo_mov_caja](
	[Cod_mov] [int] IDENTITY(1,1) NOT NULL,
	[Cod_cuenta] [int] NOT NULL,
	[Ingreso] [money] NULL,
	[Egreso] [money] NULL,
	[Fecha] [datetime] NOT NULL,
	[Usuario] [nvarchar](50) NULL,
	[Idusuario] [int] NULL,
	[Turno] [nvarchar](50) NULL,
	[Concepto] [nvarchar](300) NULL,
	[Comprobante] [int] NULL,
	[Estado] [bit] NOT NULL,
	[Idcierre] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[fondo_tipomov]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[fondo_tipomov](
	[Codtipomov] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[TipoIngEgr] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[forma_pago]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[forma_pago](
	[cod_forma_pago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[recargo] [decimal](10, 2) NULL,
	[cuotas] [int] NULL,
 CONSTRAINT [PK_forma_pago] PRIMARY KEY CLUSTERED 
(
	[cod_forma_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ingreso]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ingreso](
	[idingreso] [int] IDENTITY(1,1) NOT NULL,
	[idproveedor] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[tipo_comprobantes] [varchar](20) NOT NULL,
	[serie] [varchar](4) NOT NULL,
	[correlativa] [varchar](8) NOT NULL,
	[iva] [decimal](4, 2) NOT NULL,
	[estado] [varchar](7) NOT NULL,
 CONSTRAINT [PK_ingreso] PRIMARY KEY CLUSTERED 
(
	[idingreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mov_stock]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mov_stock](
	[idmov_stock] [int] IDENTITY(1,1) NOT NULL,
	[idproveedor] [int] NULL,
	[fecha] [date] NOT NULL,
	[tipo_comprobante] [varchar](50) NULL,
	[serie] [varchar](4) NULL,
	[correlativa] [varchar](8) NULL,
	[iva] [decimal](4, 2) NULL,
	[estado] [varchar](7) NOT NULL,
	[movimiento] [varchar](7) NOT NULL,
 CONSTRAINT [PK_mov_stock] PRIMARY KEY CLUSTERED 
(
	[idmov_stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[plancuenta]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plancuenta](
	[Codigo_plan] [int] NOT NULL,
	[Cuenta] [nvarchar](300) NOT NULL,
	[Ingreso] [bit] NOT NULL,
	[Egreso] [bit] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Tipomovimiento] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[proveedor](
	[idproveedor] [int] IDENTITY(1,1) NOT NULL,
	[razon_social] [varchar](150) NOT NULL,
	[cuit] [int] NOT NULL,
	[direccion] [varchar](50) NULL,
	[telefono] [int] NULL,
	[email] [varchar](50) NULL,
	[num_documento] [varchar](11) NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_proveedor] PRIMARY KEY CLUSTERED 
(
	[idproveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sucursal]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sucursal](
	[cod_sucursal] [int] NOT NULL,
	[cod_empresa] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[telefono] [int] NOT NULL,
 CONSTRAINT [PK_sucursal] PRIMARY KEY CLUSTERED 
(
	[cod_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[unidades]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[unidades](
	[idunidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_presentacion] PRIMARY KEY CLUSTERED 
(
	[idunidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[venta]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[venta](
	[idventa] [int] IDENTITY(1,1) NOT NULL,
	[idcliente] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[tipo_comprobante] [varchar](20) NOT NULL,
	[IVA] [decimal](4, 2) NULL,
	[estado] [varchar](5) NULL,
	[categoria] [varchar](50) NULL,
 CONSTRAINT [PK_venta] PRIMARY KEY CLUSTERED 
(
	[idventa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[venta_forma_pago]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta_forma_pago](
	[idventa] [int] NOT NULL,
	[cod_forma_pago] [int] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[articulo] ON 

INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [idcategoria], [precio], [stock_actual], [precio_Compra], [utilidad], [estado], [pesable]) VALUES (1, N'7793704000232', N'Yerba Máte PLAYADITO 1/2 kg', N'', 1, 70.0000, 5, 14.0000, NULL, 1, 0)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [idcategoria], [precio], [stock_actual], [precio_Compra], [utilidad], [estado], [pesable]) VALUES (2, N'7791290000674', N'Detergente ALA ULTRA Fragancia limon', N'', 1, 32.0000, 8, 14.0000, NULL, 1, 0)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [idcategoria], [precio], [stock_actual], [precio_Compra], [utilidad], [estado], [pesable]) VALUES (3, N'', N'Jugo TANG Naranja-Banana', N'', 3, 20.0000, 49, 14.0000, CAST(0.00 AS Decimal(5, 2)), 1, 0)
GO
SET IDENTITY_INSERT [dbo].[articulo] OFF
SET IDENTITY_INSERT [dbo].[categoria] ON 

INSERT [dbo].[categoria] ([idcategoria], [nombre], [descripcion]) VALUES (2, N'Panaderia', N'')
INSERT [dbo].[categoria] ([idcategoria], [nombre], [descripcion]) VALUES (3, N'Bebidas', N'')
INSERT [dbo].[categoria] ([idcategoria], [nombre], [descripcion]) VALUES (4, N'Lácteos', N'')
SET IDENTITY_INSERT [dbo].[categoria] OFF
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([idcliente], [razon_social], [fecha_nacimiento], [cuit], [direccion], [telefono], [email], [num_documento], [activo]) VALUES (1, N'Consumidor Final', CAST(N'2018-07-25' AS Date), 11111111113, N'', 0, N'', N'0', 1)
SET IDENTITY_INSERT [dbo].[cliente] OFF
SET IDENTITY_INSERT [dbo].[Confequipo] ON 

INSERT [dbo].[Confequipo] ([id_equipo], [equipo], [usuarioconectado], [Turno], [id_usuario], [pv]) VALUES (1, N'DESKTOP-DT84KT2', N'CRISTIAN', N'MAÑANA', 1, NULL)
SET IDENTITY_INSERT [dbo].[Confequipo] OFF
SET IDENTITY_INSERT [dbo].[config_empresa] ON 

SET IDENTITY_INSERT [dbo].[config_empresa] OFF
SET IDENTITY_INSERT [dbo].[cuentas] ON 

INSERT [dbo].[cuentas] ([idusuario], [usuario], [password], [nombre], [Turno], [SA], [activo]) VALUES (1, N'CRIS', N'A', N'CRISTIAN RAMIREZ', N'MAÑANA ', 1, 1)
INSERT [dbo].[cuentas] ([idusuario], [usuario], [password], [nombre], [Turno], [SA], [activo]) VALUES (2, N'LEO', N'B', N'LEONEL RAMIREZ', N'TARDE', 1, 1)
SET IDENTITY_INSERT [dbo].[cuentas] OFF
SET IDENTITY_INSERT [dbo].[detalle_movstock] ON 

INSERT [dbo].[detalle_movstock] ([iddetalle_movstock], [idmov_stock], [idarticulo], [precio], [cantidad]) VALUES (37, 33, 8, 50.0000, 10.0000)
INSERT [dbo].[detalle_movstock] ([iddetalle_movstock], [idmov_stock], [idarticulo], [precio], [cantidad]) VALUES (38, 34, 10, 25.0000, 10.0000)
INSERT [dbo].[detalle_movstock] ([iddetalle_movstock], [idmov_stock], [idarticulo], [precio], [cantidad]) VALUES (39, 35, 1152, 10.0000, 10.0000)
SET IDENTITY_INSERT [dbo].[detalle_movstock] OFF
SET IDENTITY_INSERT [dbo].[detalle_venta] ON 

INSERT [dbo].[detalle_venta] ([iddetalle_venta], [idventa], [cantidad], [precio], [descuento], [id_articulo], [importe]) VALUES (1059, 1060, 2.0000, 210.0000, 0.0000, 2174, 350.0000)
INSERT [dbo].[detalle_venta] ([iddetalle_venta], [idventa], [cantidad], [precio], [descuento], [id_articulo], [importe]) VALUES (1060, 1061, 1.0000, 210.0000, 0.0000, 2174, 150.0000)
INSERT [dbo].[detalle_venta] ([iddetalle_venta], [idventa], [cantidad], [precio], [descuento], [id_articulo], [importe]) VALUES (1061, 1062, 1.0000, 210.0000, 0.0000, 2174, 300.0000)
SET IDENTITY_INSERT [dbo].[detalle_venta] OFF
SET IDENTITY_INSERT [dbo].[fondo_mov_caja] ON 

INSERT [dbo].[fondo_mov_caja] ([Cod_mov], [Cod_cuenta], [Ingreso], [Egreso], [Fecha], [Usuario], [Idusuario], [Turno], [Concepto], [Comprobante], [Estado], [Idcierre]) VALUES (25, 4110107, 238.0000, 0.0000, CAST(N'2019-04-16 00:00:00.000' AS DateTime), N'usuario', 1, N'mañana', N'Venta nro : 0', 0, 1, NULL)
INSERT [dbo].[fondo_mov_caja] ([Cod_mov], [Cod_cuenta], [Ingreso], [Egreso], [Fecha], [Usuario], [Idusuario], [Turno], [Concepto], [Comprobante], [Estado], [Idcierre]) VALUES (27, 4110107, 25.0000, 0.0000, CAST(N'2019-04-25 00:00:00.000' AS DateTime), N'usuario', 1, N'mañana', N'Venta nro : 0', 0, 1, NULL)
INSERT [dbo].[fondo_mov_caja] ([Cod_mov], [Cod_cuenta], [Ingreso], [Egreso], [Fecha], [Usuario], [Idusuario], [Turno], [Concepto], [Comprobante], [Estado], [Idcierre]) VALUES (28, 4110107, 50.0000, 0.0000, CAST(N'2019-04-25 00:00:00.000' AS DateTime), N'usuario', 1, N'mañana', N'Venta nro : 0', 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[fondo_mov_caja] OFF
INSERT [dbo].[fondo_tipomov] ([Codtipomov], [Nombre], [TipoIngEgr], [Estado]) VALUES (0, N'SISTEMA', N'S', 0)
INSERT [dbo].[fondo_tipomov] ([Codtipomov], [Nombre], [TipoIngEgr], [Estado]) VALUES (1, N'INGRESOS VARIOS          ', N'I', 1)
INSERT [dbo].[fondo_tipomov] ([Codtipomov], [Nombre], [TipoIngEgr], [Estado]) VALUES (2, N'INGRESO POR VENTAS  ', N'I', 1)
SET IDENTITY_INSERT [dbo].[forma_pago] ON 

INSERT [dbo].[forma_pago] ([cod_forma_pago], [nombre], [recargo], [cuotas]) VALUES (1, N'Efectivo', NULL, NULL)
SET IDENTITY_INSERT [dbo].[forma_pago] OFF
SET IDENTITY_INSERT [dbo].[mov_stock] ON 

INSERT [dbo].[mov_stock] ([idmov_stock], [idproveedor], [fecha], [tipo_comprobante], [serie], [correlativa], [iva], [estado], [movimiento]) VALUES (33, 0, CAST(N'2019-05-03' AS Date), N'', N'0', N'0', CAST(0.00 AS Decimal(4, 2)), N'EMITIDO', N'INGRESO')
INSERT [dbo].[mov_stock] ([idmov_stock], [idproveedor], [fecha], [tipo_comprobante], [serie], [correlativa], [iva], [estado], [movimiento]) VALUES (34, 0, CAST(N'2019-05-03' AS Date), N'', N'0', N'0', CAST(0.00 AS Decimal(4, 2)), N'EMITIDO', N'INGRESO')
INSERT [dbo].[mov_stock] ([idmov_stock], [idproveedor], [fecha], [tipo_comprobante], [serie], [correlativa], [iva], [estado], [movimiento]) VALUES (35, 0, CAST(N'2019-05-04' AS Date), N'', N'0', N'0', CAST(0.00 AS Decimal(4, 2)), N'EMITIDO', N'INGRESO')
SET IDENTITY_INSERT [dbo].[mov_stock] OFF
INSERT [dbo].[plancuenta] ([Codigo_plan], [Cuenta], [Ingreso], [Egreso], [Estado], [Tipomovimiento]) VALUES (1000000, N'ACTIVO', 0, 0, 1, 0)
INSERT [dbo].[plancuenta] ([Codigo_plan], [Cuenta], [Ingreso], [Egreso], [Estado], [Tipomovimiento]) VALUES (1100000, N'DISPONIBILIDADES', 0, 0, 1, 0)
INSERT [dbo].[plancuenta] ([Codigo_plan], [Cuenta], [Ingreso], [Egreso], [Estado], [Tipomovimiento]) VALUES (1104000, N'BIENES DE CAMBIO', 0, 0, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[proveedor] ON 

INSERT [dbo].[proveedor] ([idproveedor], [razon_social], [cuit], [direccion], [telefono], [email], [num_documento], [activo]) VALUES (0, N'Desconocido', 0, N'', 0, N'', N'0', 1)
INSERT [dbo].[proveedor] ([idproveedor], [razon_social], [cuit], [direccion], [telefono], [email], [num_documento], [activo]) VALUES (1, N'milkaut', 678687, N'micasa', 768, N'kjhjk', N'45646', 1)
INSERT [dbo].[proveedor] ([idproveedor], [razon_social], [cuit], [direccion], [telefono], [email], [num_documento], [activo]) VALUES (8, N'ramon', 132, N'nicolas acosta n 750', 321231, N'ramon@gmail.com', N'123', 1)
SET IDENTITY_INSERT [dbo].[proveedor] OFF
SET IDENTITY_INSERT [dbo].[unidades] ON 

INSERT [dbo].[unidades] ([idunidad], [nombre]) VALUES (1, N'LTS')
SET IDENTITY_INSERT [dbo].[unidades] OFF
SET IDENTITY_INSERT [dbo].[venta] ON 

INSERT [dbo].[venta] ([idventa], [idcliente], [fecha], [tipo_comprobante], [IVA], [estado], [categoria]) VALUES (1060, 1, CAST(N'2019-05-02' AS Date), N'V', CAST(21.00 AS Decimal(4, 2)), N'P', NULL)
INSERT [dbo].[venta] ([idventa], [idcliente], [fecha], [tipo_comprobante], [IVA], [estado], [categoria]) VALUES (1061, 1, CAST(N'2019-05-02' AS Date), N'V', CAST(21.00 AS Decimal(4, 2)), N'P', NULL)
INSERT [dbo].[venta] ([idventa], [idcliente], [fecha], [tipo_comprobante], [IVA], [estado], [categoria]) VALUES (1062, 1, CAST(N'2019-05-02' AS Date), N'V', CAST(21.00 AS Decimal(4, 2)), N'P', NULL)
SET IDENTITY_INSERT [dbo].[venta] OFF
ALTER TABLE [dbo].[ingreso]  WITH CHECK ADD  CONSTRAINT [FK_ingreso_proveedor] FOREIGN KEY([idproveedor])
REFERENCES [dbo].[proveedor] ([idproveedor])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ingreso] CHECK CONSTRAINT [FK_ingreso_proveedor]
GO
ALTER TABLE [dbo].[sucursal]  WITH CHECK ADD  CONSTRAINT [FK_sucursal_config_empresa] FOREIGN KEY([cod_empresa])
REFERENCES [dbo].[config_empresa] ([cod_empresa])
GO
ALTER TABLE [dbo].[sucursal] CHECK CONSTRAINT [FK_sucursal_config_empresa]
GO
ALTER TABLE [dbo].[venta_forma_pago]  WITH CHECK ADD  CONSTRAINT [FK_venta_forma_pago_forma_pago] FOREIGN KEY([cod_forma_pago])
REFERENCES [dbo].[forma_pago] ([cod_forma_pago])
GO
ALTER TABLE [dbo].[venta_forma_pago] CHECK CONSTRAINT [FK_venta_forma_pago_forma_pago]
GO
ALTER TABLE [dbo].[venta_forma_pago]  WITH CHECK ADD  CONSTRAINT [FK_venta_forma_pago_venta] FOREIGN KEY([idventa])
REFERENCES [dbo].[venta] ([idventa])
GO
ALTER TABLE [dbo].[venta_forma_pago] CHECK CONSTRAINT [FK_venta_forma_pago_venta]
GO
/****** Object:  StoredProcedure [dbo].[SP_ARTICULO]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_ARTICULO]
@buscarTexto varchar(50)=null,
@modo int=null,
@nombre varchar (50)=null,
@idarticulo int output,
@cod_producto int=null,
@descripcion varchar(50)=null,
@codigo varchar(50) =null,
@idcategoria int =null,
@precio money =null,
@stockActual int =null,
@utilidad decimal=null,
@precio_compra money=null,
@estado bit =null,
@pesable bit = null
AS
IF @modo=1
--INSERTAR
BEGIN
--el estado es 1 cuando está habilitado y 0 cuando no
insert into articulo (codigo,nombre,descripcion,idcategoria,precio,precio_Compra,utilidad,stock_actual,estado,pesable)
values (@codigo,@nombre,@descripcion,@idcategoria,@precio,@precio_compra,@utilidad,@stockActual,1,@pesable)
END
else IF @modo=2
--MODIFICAR
BEGIN
update articulo set codigo=@codigo,
nombre=@nombre,descripcion=@descripcion,
idcategoria=@idcategoria,precio=@precio,stock_actual=@stockActual,
pesable=@pesable
where idarticulo=@idarticulo
END

else IF @modo=3
--ELIMINAR
BEGIN 
 update articulo set estado=0 where idarticulo=@idarticulo
END
else IF @modo=4
--BUSCAR TEXTO NOMBRE
BEGIN
SELECT dbo.articulo.idarticulo, dbo.articulo.codigo, dbo.articulo.nombre, 
dbo.articulo.descripcion, dbo.articulo.idcategoria, 
dbo.categoria.nombre AS Categoria,dbo.articulo.precio,stock_actual
FROM dbo.articulo 
INNER JOIN dbo.categoria ON dbo.articulo.idcategoria = dbo.categoria.idcategoria
WHERE dbo.articulo.nombre like '%' +@buscarTexto+ '%' and estado=1
END
else IF @modo=5
--MOSTRAR
BEGIN 
SELECT dbo.articulo.idarticulo, dbo.articulo.codigo, dbo.articulo.nombre, 
dbo.articulo.descripcion, dbo.articulo.idcategoria, 
dbo.categoria.nombre AS Categoria,stock_actual,utilidad,precio_compra,precio
FROM dbo.articulo 
INNER JOIN dbo.categoria ON dbo.articulo.idcategoria = dbo.categoria.idcategoria
where estado=1
END
else IF @modo=6
--BUSCAR TEXTO CODIGOBARRA
BEGIN
SELECT dbo.articulo.idarticulo, dbo.articulo.codigo, dbo.articulo.nombre, 
dbo.articulo.descripcion, dbo.articulo.idcategoria, 
dbo.categoria.nombre AS Categoria,precio,stock_actual
FROM dbo.articulo 
INNER JOIN dbo.categoria ON dbo.articulo.idcategoria = dbo.categoria.idcategoria
WHERE dbo.articulo.codigo like '%' +@buscarTexto+ '%' and estado=1
END
else IF @modo=7
--BUSCAR TEXTO CATEGORIA
BEGIN
SELECT dbo.articulo.idarticulo, dbo.articulo.codigo, dbo.articulo.nombre, 
dbo.articulo.descripcion, dbo.articulo.idcategoria, 
dbo.categoria.nombre AS Categoria,precio,stock_actual
FROM dbo.articulo 
INNER JOIN dbo.categoria ON dbo.articulo.idcategoria = dbo.categoria.idcategoria
WHERE categoria.nombre like '%' +@buscarTexto+ '%'  and estado=1
END
else IF @modo=8
--BUSCAR TEXTO idArticulo
BEGIN
SELECT dbo.articulo.idarticulo, dbo.articulo.codigo, dbo.articulo.nombre, 
dbo.articulo.descripcion, dbo.articulo.idcategoria, 
dbo.categoria.nombre AS Categoria,stock_actual,utilidad,precio_Compra,precio
FROM dbo.articulo 
INNER JOIN dbo.categoria ON dbo.articulo.idcategoria = dbo.categoria.idcategoria
WHERE dbo.articulo.idarticulo  like @buscarTexto+ '%'  and estado=1
END

else IF @modo=9
--MODIFICAR PRECIO
BEGIN
update articulo set 
precio=@precio,precio_Compra=@precio_compra,utilidad=@utilidad
where idarticulo=@idarticulo
END
else IF @modo=10
--Encontrar solo un unico registro con el idArticulo
BEGIN
SELECT dbo.articulo.idarticulo, dbo.articulo.codigo, dbo.articulo.nombre, 
dbo.articulo.descripcion, dbo.articulo.idcategoria, 
dbo.categoria.nombre AS Categoria,stock_actual,utilidad,precio_Compra,precio
FROM dbo.articulo 
INNER JOIN dbo.categoria ON dbo.articulo.idcategoria = dbo.categoria.idcategoria
WHERE dbo.articulo.idarticulo= @idarticulo  and estado=1
END
else IF @modo=11
--Encontrar si existe un producto con ese codigo
BEGIN
select codigo from articulo where codigo=@codigo and estado=1
END
else IF @modo=12
--MOSTRAR solo los pesables
BEGIN 
SELECT dbo.articulo.idarticulo, dbo.articulo.codigo, dbo.articulo.nombre, 
dbo.articulo.descripcion, dbo.articulo.idcategoria, 
dbo.categoria.nombre AS Categoria,stock_actual,utilidad,precio_Compra,precio
FROM dbo.articulo 
INNER JOIN dbo.categoria ON dbo.articulo.idcategoria = dbo.categoria.idcategoria
where estado=1 and pesable=1
END

else IF @modo=13
--MOSTRAR solo los pesables
BEGIN 
if @buscarTexto='nombre'
	begin
		SELECT dbo.articulo.idarticulo, dbo.articulo.codigo, dbo.articulo.nombre, 
		dbo.articulo.descripcion, dbo.articulo.idcategoria, 
		dbo.categoria.nombre AS Categoria,stock_actual,utilidad,precio_Compra,precio
		FROM dbo.articulo 
		INNER JOIN dbo.categoria ON dbo.articulo.idcategoria = dbo.categoria.idcategoria
		where estado=1 and pesable=1 and articulo.nombre like  '%'+ @nombre+ '%'
	end
	else if @buscarTexto='idarticulo'
	begin
		SELECT dbo.articulo.idarticulo, dbo.articulo.codigo, dbo.articulo.nombre, 
		dbo.articulo.descripcion, dbo.articulo.idcategoria, 
		dbo.categoria.nombre AS Categoria,stock_actual,utilidad,precio_Compra,precio
		FROM dbo.articulo 
		INNER JOIN dbo.categoria ON dbo.articulo.idcategoria = dbo.categoria.idcategoria
		where estado=1 and pesable=1 and dbo.articulo.idarticulo  like @idarticulo+ '%'
	end
	else if @buscarTexto='codigo'
	begin
		SELECT dbo.articulo.idarticulo, dbo.articulo.codigo, dbo.articulo.nombre, 
		dbo.articulo.descripcion, dbo.articulo.idcategoria, 
		dbo.categoria.nombre AS Categoria,stock_actual,utilidad,precio_Compra,precio
		FROM dbo.articulo 
		INNER JOIN dbo.categoria ON dbo.articulo.idcategoria = dbo.categoria.idcategoria
		where estado=1 and pesable=1 and articulo.idarticulo like  '%'+ @codigo+ '%'
	end
	else if @buscarTexto='categoria'
	begin
		SELECT dbo.articulo.idarticulo, dbo.articulo.codigo, dbo.articulo.nombre, 
		dbo.articulo.descripcion, dbo.articulo.idcategoria, 
		dbo.categoria.nombre AS Categoria,stock_actual,utilidad,precio_Compra,precio
		FROM dbo.articulo 
		INNER JOIN dbo.categoria ON dbo.articulo.idcategoria = dbo.categoria.idcategoria
		where estado=1 and pesable=1 and categoria.nombre like  '%'+ @nombre+ '%'
	end
END


--select  IDENT_CURRENT('articulo')+1 (obtiene el ultimo valor del idarticulo)

select * from articulo


--REGISTRO QUE TIENEN QUE ESTAR 
--INSERT INTO articulo(codigo,nombre,idcategoria,precio,precio_Compra,utilidad,estado,pesable) values('','ARTICULOS VARIOS',1,0.00,0.00,0,0,1)
GO
/****** Object:  StoredProcedure [dbo].[SP_CAJA]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_CAJA]

@codmov int = 1,
@codcuenta int = 1,
@ingreso money = null,
@egreso money = null,
@usuario varchar (50)=null,
@idusuario int=null,
@turno varchar (50)=null,
@concepto varchar (500)=null,
@comprobante int=null,
@estado bit = 0,
@nombre varchar(50)=null,
@descripcion varchar(50)=null,
@modo int=null,
@buscarTexto varchar(50)=null,
@Tipomovimiento int = 0,
@Tipoingegr varchar (10) = 'I',
@Fecha datetime = '20190101'

AS
IF @modo=1
--Insertar
BEGIN 

 insert into fondo_mov_caja(Cod_cuenta ,Ingreso ,Egreso,Fecha ,Usuario ,Idusuario ,Turno,Concepto,Comprobante,Estado) 
values(@codcuenta,@ingreso,@egreso,@Fecha,@usuario,@idusuario,@turno,@concepto,@comprobante,@estado )
END

else IF @modo=3
--ELIMINAR
BEGIN 
 delete from fondo_mov_caja where Cod_mov  = @codmov
END

else if @modo=5
--mostrar plan de cuentas
Begin
    
 if @Tipomovimiento = 1 or @Tipomovimiento = 4 

 Begin 

   select Codigo_plan, Cuenta ,Ingreso,Egreso ,Estado,Tipomovimiento from plancuenta 
   where (Tipomovimiento  =  @Tipomovimiento or Tipomovimiento = 14) and Estado = 1  
 end

 else 
 
 begin
 
   select Codigo_plan, Cuenta ,Ingreso,Egreso ,Estado,Tipomovimiento from plancuenta 
   where Tipomovimiento  =  @Tipomovimiento and Estado = 1

 end 
    
end
else if @modo=6
--mostrar tipo de movimiento
Begin
 select Codtipomov ,Nombre,TipoIngEgr,Estado from fondo_tipomov  where TipoIngEgr = @Tipoingegr  
end

else if @modo=7
--consultar caja por fecha 
Begin

 select  Cod_mov,Cod_cuenta,Concepto,Fecha ,Comprobante,Ingreso,Egreso,Turno
 FROM fondo_mov_caja  
 where Fecha = @fecha

end

else if @modo = 8
--consultar la suma del ingreso y el egreso de caja
Begin 

select sum (Ingreso) as ingreso, sum (Egreso) as egreso from fondo_mov_caja
where Fecha = @fecha

end 
GO
/****** Object:  StoredProcedure [dbo].[SP_CATEGORIA]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CATEGORIA]

@idcategoria INT OUTPUT,
@nombre varchar(50)=null,
@descripcion varchar(50)=null,
@modo int=null,
@buscarTexto varchar(50)=null

AS
IF @modo=1
--insertar
BEGIN 

 insert into categoria(nombre,descripcion) 
values(@nombre,@descripcion)
END

else IF @modo=2
--editar
BEGIN 
 update categoria set nombre=@nombre,
descripcion=@descripcion
--modifica en el caso de que exista coincidencia en idcategoria
where idcategoria=@idcategoria

END

else IF @modo=3
--borrar
BEGIN 
 delete from categoria where idcategoria=@idcategoria
END

else IF @modo=4
--buscar
BEGIN 
 select * from categoria where nombre like '%'+@buscarTexto+'%'
END
else if @modo=5
--mostrar
Begin
 select * from categoria
end

GO
/****** Object:  StoredProcedure [dbo].[SP_CLIENTE]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CLIENTE]

@buscarTexto varchar(50)=null,
@modo int=null,
@idcliente int output,
@cuit bigint= null,
@razon_social varchar(150)=null,
@direccion varchar (50)=null,
@telefono int= null,
@email varchar(50) =null,
@num_documento varchar(11)=null,
@fecha_nacimiento date =null
AS

IF @modo=1
--INSERTAR
BEGIN
insert into cliente(razon_social,fecha_nacimiento,cuit,direccion,telefono,email,num_documento,activo)
values (@razon_Social,@fecha_nacimiento,@cuit,@direccion,@telefono,@email,@num_documento,1)
END
else IF @modo=2
--MODIFICAR
BEGIN
update cliente set  razon_Social=@razon_Social
,fecha_nacimiento=@fecha_nacimiento
,cuit=@cuit,direccion=@direccion
,email=@email,num_documento=@num_documento
,telefono=@telefono
where idcliente=@idcliente
END
else IF @modo=3
--ELIMINAR "DESACTIVAR"
BEGIN 
 UPDATE cliente SET activo=0 where idcliente= @idcliente
END

else IF @modo=4
--BUSCAR TEXTO
BEGIN
SELECT * FROM cliente
WHERE cliente.razon_social like '%' +@buscarTexto+ '%' and activo=1
END

else IF @modo=5
--MOSTRAR
BEGIN 
SELECT idcliente,cliente.razon_social,fecha_nacimiento,cuit,direccion,telefono,email,num_documento FROM cliente where activo=1
END
else IF @modo=6
--BUSCAR TEXTO
BEGIN
SELECT * FROM cliente
WHERE cliente.idcliente like @buscarTexto + '%'  and activo=1
END
--cambiarnombre en una columna
--sp_rename 'proveedor.razon_Social', 'proveedor.razon_social';

GO
/****** Object:  StoredProcedure [dbo].[SP_CONFIG_EMPRESA]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CONFIG_EMPRESA]


@razon_social varchar(50) =null,
@cuit bigint =null,
@logo image =null,
@cod_empresa int output,
@condicion_frente_iva varchar=null ,
@MODO int =null	
as
IF @MODO=1
--MOSTRAR	
select top 1 cod_empresa,razon_social,cuit,logo,condicion_frente_iva 
from config_empresa
IF @MODO=2
--Modificar	
update config_empresa set razon_social=@razon_social,cuit=@cuit,
logo=@logo,condicion_frente_iva=@condicion_frente_iva
IF @MODO=3
--Agregar	
insert into config_empresa(razon_social,cuit,condicion_frente_iva,logo) 
values(@razon_social,@cuit,@condicion_frente_iva,@logo)


GO
/****** Object:  StoredProcedure [dbo].[SP_CUENTA]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--

-- =============================================
CREATE PROCEDURE [dbo].[SP_CUENTA]
@MODO int =null,
@idcuenta int= null,
@nombre varchar(50)=null,
@password varchar(50)=null,
@SA bit=null,
@Turno nvarchar(50)=null,
@usuario varchar(50)=null
AS 
if @modo=1
begin
--mostrar
select * from cuenta where activo=1
end
else if @modo=2
begin 
--insertar
insert into cuentas  (nombre,password,SA,Turno,usuario,activo) values(@nombre,@password,@SA,@Turno,@usuario,1)
end

GO
/****** Object:  StoredProcedure [dbo].[SP_DETALLEMOVSTOCK]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DETALLEMOVSTOCK]
@buscarTexto int =null,
@modo int=null,
@iddetalle_movStock int output,
@idmov_stock int=null,
@idarticulo int=null,
@precio money =null,
@cantidad decimal =null
AS
IF @modo=1
--INSERTAR
BEGIN
insert into detalle_movstock(idmov_stock ,idarticulo,precio,cantidad)
values (@idmov_stock ,@idarticulo ,@precio,@cantidad )
END
else IF @modo=2
--MOSTRAR
BEGIN 
SELECT d.idarticulo,a.nombre as [Nombre del Producto],
d.precio as [PrecioCompra],a.precio as [Precio de Producto],a.stock_actual,d.cantidad,(d.precio*d.cantidad) as subtotal
from detalle_movstock d 
inner join articulo a on
d.idarticulo=a.idarticulo
where d.idmov_stock=@buscarTexto

END
else IF @modo=3
--DISMINUIR STOCK
BEGIN 
update articulo set stock_actual  = stock_actual - @cantidad 
where idarticulo = @idarticulo 
END
--select * from articulo where idarticulo=2174
--update articulo set stock_actual=100.30 where idarticulo=2174
GO
/****** Object:  StoredProcedure [dbo].[SP_DETALLEVENTA]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_DETALLEVENTA]
	@iddetalle_venta int=null output,
	@idventa int=NULL, 
	@cantidad money=NULL,
	@importe money=NULL,
	@descuento money=NULL,
	@id_articulo int=NULL, 
	@precio money=NULL,
	@modo int=null,
	@textobuscar varchar(50)=null
as 
IF @modo=1
--INSERTAR
BEGIN
insert into detalle_venta (idventa,cantidad,importe,descuento,Id_Articulo,precio )
values 
	(@idventa,@cantidad ,
	@importe,
	@descuento ,
	@id_articulo , 
	@precio )
set @iddetalle_venta = @@IDENTITY 
END
ELSE IF @modo=2
BEGIN 
--MOSTRAR
select a.idarticulo , a.nombre as articulo, 
       d.cantidad, d.descuento,d.precio,d.importe  
	   from detalle_venta d 
	   inner join articulo a on d.Id_Articulo = a.idarticulo 
	   where d.idventa =@textobuscar


END



GO
/****** Object:  StoredProcedure [dbo].[SP_FORMA_PAGO]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
CREATE PROCEDURE  [dbo].[SP_FORMA_PAGO] 
	@cod_forma_pago int =null,
	@modo int =null,
	@nombre varchar(50)=null,
	@recargo decimal=null ,
	@cuota int =null

AS
if @modo=1
BEGIN
--MOSTRAR FORMA DE PAGOS EXCEPTO EFECTIVO
	SELECT * FROM forma_pago 
END
else if @modo=2
BEGIN
--INSERTAR
INSERT INTO forma_pago(nombre,recargo,cuotas) VALUES (@nombre,@recargo,@cuota)

END

--INSERT INTO forma_pago(nombre) VALUES ('Efectivo')
GO
/****** Object:  StoredProcedure [dbo].[SP_INGRESO]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_INGRESO]

@buscarTextoFecha varchar(50)=null,
@buscarTextoFecha2 varchar(50)=null,
@modo int=null,
@fecha date=null,
@idingreso int output,
@idproveedor int=null,
@tipo_comprobante varchar(20) =null,
@iva decimal(4,2)=null,
@serie varchar(4)=null,
@correlativa varchar(8)=null,
@estado varchar(7)=null
as 
IF @modo=1
--INSERTAR
BEGIN
insert into ingreso (fecha,idproveedor ,tipo_comprobantes ,iva ,serie ,correlativa,estado)
values (@fecha,@idproveedor ,@tipo_comprobante ,@iva ,@serie ,@correlativa,@estado )
--CODIGO IDARTICULO
SET @idingreso=@@IDENTITY
END
else IF @modo=2
--ANULAR
BEGIN
update ingreso set 
@estado='ANULADO'
where idingreso=@idingreso
END
else IF @modo=3
--BUSCAR ENTRE FECHAS
BEGIN
SELECT ing.idingreso,prov.razon_social AS proveedor , ing.fecha, 
tipo_comprobantes, ing.serie, ing.correlativa,ing.iva as IVA,ing.estado,SUM(ding.precio_compra*ding.stock_inicial) 
AS [TOTAL INGRESO]
FROM dbo.ingreso ing 
INNER JOIN dbo.proveedor ON ing.idproveedor= dbo.proveedor.idproveedor
INNER JOIN dbo.detalle_ingreso ding ON ing.idingreso=ding.idarticulo
INNER JOIN dbo.proveedor prov ON ing.idproveedor=prov.idproveedor
GROUP BY  ing.idingreso,prov.razon_social ,ing.fecha, 
tipo_comprobantes, ing.serie, ing.correlativa,ing.iva ,ing.estado
HAVING ing.fecha>=@buscarTextoFecha and ing.fecha<=@buscarTextoFecha2 

END
else IF @modo=4
--MOSTRAR
BEGIN 
SELECT TOP 200 ing.idingreso,prov.razon_social AS proveedor , ing.fecha, 
tipo_comprobantes, ing.serie, ing.correlativa,ing.iva as IVA,ing.estado,SUM(ding.precio_compra*ding.stock_inicial) 
AS [TOTAL INGRESO]
FROM dbo.ingreso ing 
INNER JOIN dbo.proveedor prov ON ing.idproveedor= prov.idproveedor
INNER JOIN detalle_ingreso ding on ing.idingreso=ding.iddetalle_ingreso
GROUP BY  ing.idingreso,prov.razon_social ,ing.fecha, 
tipo_comprobantes, ing.serie, ing.correlativa,ing.iva ,ing.estado
ORDER BY ing.idingreso DESC
END

GO
/****** Object:  StoredProcedure [dbo].[SP_MOVSTOCK]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_MOVSTOCK]
@buscarTextoFecha varchar(50)=null,
@buscarTextoFecha2 varchar(50)=null,
@modo int=null,
@fecha date=null,
@idmov_stock int output,
@idproveedor int=null,
@tipo_comprobante varchar(20) =null,
@iva decimal(4,2)=null,
@serie varchar(4)=null,
@correlativa varchar(8)=null,
@estado varchar(7)=null,
@movimiento varchar(7)=null
AS
IF @modo=1
--INSERTAR
BEGIN
insert into mov_stock(fecha,idproveedor ,tipo_comprobante ,iva ,serie ,correlativa,estado,movimiento)
values (@fecha,@idproveedor ,@tipo_comprobante ,@iva ,@serie ,@correlativa,@estado,@movimiento )
--CODIGO IDARTICULO
--DEVUELVE EL VALOR DEL IDMOV_STOCK PARA LUEGO UTILIZARLO
SET @idmov_stock=@@IDENTITY
END
else IF @modo=2
--ANULAR
BEGIN
update mov_stock set 
estado='ANULADO'
where idmov_stock=@idmov_stock
END
else IF @modo=3
--BUSCAR ENTRE FECHAS
BEGIN
SELECT mov.idmov_stock,prov.razon_social AS proveedor , mov.fecha, 
mov.tipo_comprobante, mov.serie,mov.correlativa,mov.iva as IVA,mov.estado,mov.movimiento,SUM(dmov.precio*dmov.cantidad) 
AS [TOTAL]
FROM dbo.mov_stock mov

INNER JOIN dbo.detalle_movstock dmov ON mov.idmov_stock=dmov.idmov_stock
INNER JOIN dbo.proveedor prov ON mov.idproveedor=prov.idproveedor
GROUP BY  mov.idmov_stock,prov.razon_social ,mov.fecha, 
mov.tipo_comprobante, mov.serie, mov.correlativa,mov.iva ,mov.estado,mov.movimiento
HAVING mov.fecha>=@buscarTextoFecha and mov.fecha<=@buscarTextoFecha2 

END
else IF @modo=4
--MOSTRAR
BEGIN 
--SUM MULTIPLICA EL PRECIO POR LA CANTIDAD
--agrupo por lo que voy a mostrar
SELECT TOP 200 mov.idmov_stock,prov.razon_social AS proveedor , mov.fecha, 
mov.tipo_comprobante, mov.serie, mov.correlativa,mov.iva as IVA,mov.estado,mov.movimiento,SUM(dmov.precio*dmov.cantidad) 
AS [TOTAL]
FROM dbo.mov_stock mov 
INNER JOIN dbo.proveedor prov ON mov.idproveedor= prov.idproveedor
INNER JOIN detalle_movstock dmov on mov.idmov_stock=dmov.idmov_stock
GROUP BY  mov.idmov_stock,prov.razon_social ,mov.fecha, 
mov.tipo_comprobante, mov.serie, mov.correlativa,mov.iva ,mov.estado,mov.movimiento
ORDER BY mov.idmov_stock DESC
END

GO
/****** Object:  StoredProcedure [dbo].[SP_PROVEEDOR]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PROVEEDOR] 

@buscarTexto varchar(50)=null,
@modo int=null,
@direccion varchar (50)=null,
@idproveedor int output,
@razon_social varchar(150)=null,
@cuit int= null,
@telefono int= null,
@email varchar(50) =null,
@num_documento varchar(11)=null
AS

IF @modo=1
--INSERTAR
BEGIN
insert into proveedor(razon_Social,direccion,email,cuit,num_documento,telefono)
values (@razon_Social,@direccion,@email,@cuit,@num_documento,@telefono)
END
else IF @modo=2
--MODIFICAR
BEGIN
update proveedor set razon_Social=@razon_Social
,direccion=@direccion
,email=@email,cuit=@cuit,num_documento=@num_documento
,telefono=@telefono
where idproveedor=@idproveedor
END
else IF @modo=3
--ELIMINAR "DESACTIVAR"
--valor desconocido IMPORTANTE Tiene que estar este registro en el caso de que el usuario no especifique uno
--INSERT INTO proveedor (razon_social,cuit,direccion,email,num_documento,telefono,activo)
--Values('Desconocido',0,'','',0,0,1)
BEGIN 

 update proveedor set activo='0' where idproveedor= @idproveedor and idproveedor!=0
END

else IF @modo=4
--BUSCAR TEXTO
BEGIN
SELECT * FROM proveedor 
WHERE proveedor.razon_Social like '%' +@buscarTexto+ '%' 
END

else IF @modo=5
--MOSTRAR
BEGIN 
SELECT * FROM proveedor where activo=1
END

--cambiarnombre en una columna
--sp_rename 'proveedor.razon_Social', 'proveedor.razon_social';

--IMPORTANTE: Proveedor por Defecto
--insert into proveedor(razon_Social,cuit,num_documento,telefono)values('Desconocido',0,0,0)
GO
/****** Object:  StoredProcedure [dbo].[SP_UNIDADES]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UNIDADES]

@idUnidad INT OUTPUT,
@nombre varchar(50)=null,
@modo int=null,
@buscarTexto varchar(50)=null
AS


IF @modo=1
--insertar
BEGIN 
 insert into unidades(nombre) 
values(@nombre)
END

else IF @modo=2
--editar
BEGIN 


 update unidades set nombre=@nombre 
 where idunidad=@idUnidad
END

else IF @modo=3
--borrar
BEGIN 
 delete from unidades where idunidad=@idUnidad
END

else IF @modo=4
--buscar
BEGIN 
 select * from unidades where nombre like '%'+@buscarTexto+'%'
END
else if @modo=5
--mostrar
Begin
 select * from unidades
end
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIO]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_USUARIO]

--@id INT OUTPUT,
@codcuenta int = 1,
@ingreso money = null,
@egreso money = null,
@usuario varchar (50)=null,
@idusuario int=null,
@turno varchar (50)=null,
@concepto varchar (500)=null,
@comprobante int=null,
@estado bit = 0,
@nombre varchar(50)=null,
@descripcion varchar(50)=null,
@modo int=null,
@buscarTexto varchar(50)=null,
@Tipomovimiento int = 0,
@Tipoingegr varchar (10) = 'I',
@Fecha datetime = '20190101'

AS
IF @modo=1
--Insertar
BEGIN 

 insert into fondo_mov_caja(Cod_cuenta ,Ingreso ,Egreso,Fecha ,Usuario ,Idusuario ,Turno,Concepto,Comprobante,Estado) 
values(@codcuenta,@ingreso,@egreso,@Fecha,@usuario,@idusuario,@turno,@concepto,@comprobante,@estado )
END



else IF @modo=4
--buscar
BEGIN 
 select idusuario,usuario  from cuentas  
END
else if @modo=5
--mostrar plan de cuentas
Begin
   
  
 
 if @Tipomovimiento = 1 or @Tipomovimiento = 4 

 Begin 

   select Codigo_plan, Cuenta ,Ingreso,Egreso ,Estado,Tipomovimiento from plancuenta 
   where Tipomovimiento  =  @Tipomovimiento or Tipomovimiento = 14  
 end

 else 
 
 begin
 
   select Codigo_plan, Cuenta ,Ingreso,Egreso ,Estado,Tipomovimiento from plancuenta 
   where Tipomovimiento  =  @Tipomovimiento 

 end 
    
end
else if @modo=6
--mostrar tipo de movimiento
Begin
 select Codtipomov ,Nombre,TipoIngEgr,Estado from fondo_tipomov  where TipoIngEgr = @Tipoingegr  
end

else if @modo=7
--consultar caja por fecha 
Begin

 select  Cod_mov,Cod_cuenta,Ingreso,Egreso ,Fecha,Usuario ,Idusuario ,Turno,Concepto ,Comprobante,Estado
 FROM fondo_mov_caja  
 where Fecha = @fecha

end
GO
/****** Object:  StoredProcedure [dbo].[SP_VENTA]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_VENTA]
@modo int=null,
@idventa int = null output,
	@idcliente int=null,
	@fecha date=null,
	@tipo_comprobante varchar (20)=null,
	@iva decimal(4,2)=null,
@precio money =null,
@stockActual int =null,
@textobuscar varchar (50)=null,
	@textobuscar2 varchar (50)=null,
	@estado varchar(5)=null,
	@categoria	varchar(20)=null


AS
IF @modo=1
--INSERTAR
--P DE PENDIENTE
BEGIN

	

     insert into venta (idcliente,fecha,tipo_comprobante,IVA,estado )
values 
     (@idcliente,@fecha,@tipo_comprobante,@iva,'P'   )
set @idventa = @@IDENTITY 

END



ELSE IF @modo=2
--Buscar
begin 


	select  v.idventa,
	c.razon_social ,
	v.fecha,v.tipo_comprobante,v.categoria,v.estado,
	 SUM(d.precio*d.cantidad) 
AS [total]
from detalle_venta d 
	inner join venta v on d.idventa = v.idventa 
	inner join cliente c on v.idcliente = c.idcliente 
where 
    v.fecha >= @textobuscar and v.fecha <= @textobuscar2 
group by  v.idventa,c.razon_social,v.fecha,v.tipo_comprobante,
    v.estado,v.categoria

end
ELSE IF @modo=3
--ELIMINAR VENTA
delete from venta 
where idventa = @idventa 


ELSE IF @modo=4
--MOSTRAR
BEGIN
select top 100 v.idventa,
	c.razon_social ,
	v.fecha,v.tipo_comprobante,v.categoria,v.estado,
 SUM(d.precio*d.cantidad) 
AS [total]
from detalle_venta d 
	inner join venta v on d.idventa = v.idventa 
	inner join cliente c on v.idcliente = c.idcliente 
	group by v.idventa,c.razon_social,v.fecha,v.tipo_comprobante,
v.estado,v.categoria
order by v.idventa desc
END 

ElSE IF @modo=5
--NOTA DE VENTA
BEGIN
select v.idventa,
	c.razon_social ,
	v.fecha,v.tipo_comprobante,v.categoria,d.id_articulo,a.nombre,d.cantidad,d.precio, d.importe
from detalle_venta d 
	inner join venta v on d.idventa = v.idventa 
	inner join cliente c on v.idcliente = c.idcliente 
	inner join articulo a on d.id_articulo= a.idarticulo
--where v.idventa= (select top 1 idventa from venta order by idventa desc) 
--where v.idventa= (18) 

order by v.idventa desc
 
END

ElSE IF @modo=6
--CAMBIAR EL ESTADO DE FACTURA
BEGIN
UPDATE venta set estado=@estado
where idventa=@idventa


END
ElSE IF @modo=7
--ranking de los 5 productos mas vendidos
BEGIN

select top 5 a.idarticulo ,a.nombre,
      sum(d.cantidad) as Cantidad
	   from detalle_venta d 
	   inner join articulo a on d.Id_Articulo = a.idarticulo 
	   group by a.idarticulo,a.nombre
	   order by Cantidad desc


END

GO
/****** Object:  StoredProcedure [dbo].[SPREINICIAR_INDICE]    Script Date: 13/05/2019 16:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPREINICIAR_INDICE]
AS 
SELECT * FROM categoria
DBCC CHECKIDENT('dbo.categoria',RESEED,0)

GO
USE [master]
GO
